

<h1>New Place</h1>

<form action="/place" method="post">
  <p>
    <label for="name">Name of Place</label>
    <input type="text" name="name" id="name">
  </p>
  
  <button>Submit</button>
</form>

<p>  <a href="/place">Cancel</a> </p>
